@font-face {
  font-family: "iconfont"; /* Project id 2524011 */
  src: url('iconfont.woff2?t=1620984180822') format('woff2'),
       url('iconfont.woff?t=1620984180822') format('woff'),
       url('iconfont.ttf?t=1620984180822') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dagou1:before {
  content: "\e627";
}

.icon-zantingtingzhi:before {
  content: "\e628";
}

.icon-bangdingshejiaozhanghao:before {
  content: "\e64e";
}

.icon-dengji:before {
  content: "\e8a9";
}

.icon-huiyuan:before {
  content: "\e611";
}

.icon-tuichufffpx:before {
  content: "\e613";
}

.icon-gerenxinxi:before {
  content: "\e634";
}

.icon-shangcheng:before {
  content: "\e614";
}

.icon-qiandao:before {
  content: "\e698";
}

.icon-sousuo:before {
  content: "\e610";
}

.icon-daohanglan:before {
  content: "\e70d";
}

.icon-yaoqing:before {
  content: "\e69a";
}

.icon-xiepinglun:before {
  content: "\e63c";
}

.icon-jingyu:before {
  content: "\e60e";
}

.icon-tianjiashoucang:before {
  content: "\e66a";
}

.icon-yinliang:before {
  content: "\e60f";
}

.icon-yuyinshuru:before {
  content: "\e62b";
}

.icon-wodeshoucang:before {
  content: "\e89f";
}

.icon-gedan:before {
  content: "\e600";
}

.icon-shunxubofang:before {
  content: "\e65e";
}

.icon-28:before {
  content: "\e601";
}

.icon-chuyidong:before {
  content: "\e606";
}

.icon-zuixiaohua:before {
  content: "\e63f";
}

.icon-xiangzuo-copy:before {
  content: "\e602";
}

.icon-pinglun2:before {
  content: "\e603";
}

.icon-wangyiyunyinle:before {
  content: "\e604";
}

.icon-bofangye-caozuolan-suijibofang:before {
  content: "\e612";
}

.icon-xiazai:before {
  content: "\e624";
}

.icon-next-copy:before {
  content: "\e605";
}

.icon-zuidahua:before {
  content: "\e651";
}

.icon-bofang:before {
  content: "\e655";
}

.icon-yunpan:before {
  content: "\e7da";
}

.icon-woxihuan:before {
  content: "\e607";
}

.icon-good_active-copy:before {
  content: "\e608";
}

.icon-yinyue:before {
  content: "\e609";
}

.icon-next-copy1:before {
  content: "\e60a";
}

.icon-danquxunhuan:before {
  content: "\e63a";
}

.icon-next:before {
  content: "\e61a";
}

.icon-wodediantai:before {
  content: "\e60b";
}

.icon-down-fill1-xs:before {
  content: "\e60c";
}

.icon-liebiaoxunhuan:before {
  content: "\e619";
}

.icon-fenxiang:before {
  content: "\e670";
}

.icon-shunxubofang1:before {
  content: "\e667";
}

.icon-xinxiduanxinxiaoxitixingyoujiansixinyouxiang:before {
  content: "\e785";
}

.icon-shezhi:before {
  content: "\e63b";
}

.icon-chuangkouhua:before {
  content: "\ea74";
}

.icon-pifu:before {
  content: "\e83d";
}

.icon-gengduo:before {
  content: "\e64d";
}

.icon-up:before {
  content: "\e60d";
}

